<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  
  
  <i class="glyphicon glyphicon-user"></i>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  
 <i class="glyphicon glyphicon-envelope"></i>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

 <i class="glyphicon glyphicon-phone"></i>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class: 'form-control' %>
  
  <i class="glyphicon glyphicon-edit"></i>
  <%= f.label :account_name %>
  <%= f.text_field :account_name, class: 'form-control' %>
  
   <i class="glyphicon glyphicon-home"></i>
  <%= f.label :bank_name %>
  <%= f.select :bank_name, ['choose a bank','ACCESS BANK PLC', 'DIAMOND BANK PLC',
    'CITIBANK NIGERIA LIMITED ','ECOBANK NIGERIA PLC','FIDELITY BANK PLC',
    'FIRST CITY MONUMENT BANK PLC','FIRST BANK NIGERIA LIMITED ',
    'GUARANTY TRUST BANK PLC','HERITAGE BANK LIMITED',
    'KEYSTONE BANK LIMITED','SKYE BANK PLC','STANBIC IBTC BANK PLC',
    'STANDARD CHARTERED BANK LIMITED','STERLING BANK PLC','UNION BANK OF NIGERIA PLC',
    'UNITED BANK OF AFRICA PLC','UNITY BANK PLC','WEMA BANK PLC','ZENITH BANK PLC'], class: 'form-control' %>
  
  <i class="glyphicon glyphicon-usd"></i>
  <%= f.label :account_number %>
  <%= f.text_field :account_number, class: 'form-control' %>
  
  <i class="glyphicon glyphicon-lock"></i>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <i class="glyphicon glyphicon-lock"></i>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>