<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h5>
        <%= gravatar_for @user %><br>
        
        <form>
        <input type="text"  value="<%= @user.name %>" readonly>
        <input type="email" value=" <%= @user.email %>" readonly>
        <input type="text"  value=" <%= @user.phone_number %>" readonly>
        <input type="text"  value=" <%= @user.account_name %>" readonly>
        <input type="text"  value=" <%= @user.bank_name %>" readonly>
        <input type="text"  value=" <%= @user.account_number %>" readonly>
        
        
        </form>
      </h5>
    </section>
  </aside>
</div>